.title-container {
    -fx-background-color: linear-gradient(to right,lightblue,blue);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1.0), 5, 0, 0, 0);
}

.hotel-row {
    -fx-spacing: 40;
    -fx-translate-x: 40;
}

.hotel-container {
    -fx-background-color: white;
    -fx-pref-width: 200;
    -fx-pref-height: 200;
}

.hotel-container:hover {
     -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1.0), 5, 0, 0, 0);
}

.hotel-image-container {
    -fx-pref-height: 140;
    -fx-pref-width: 200;
    -fx-background-color: 'gray';
}

.hotel-info-container {
    -fx-pref-height: 75;
    -fx-pref-width: 200;
    -fx-translate-y: 150;
}

.hotel-name {
    -fx-font-size: 15;
    -fx-pref-height: 25;
    -fx-translate-x: 5;
}

.hotel-stars {
    -fx-pref-height: 15;
    -fx-translate-y: 25;
    -fx-translate-x: 5;
}